{% extends 'layouts/form.html' %}
{% block title %}Login | Dotmole Cloud{% endblock %}
{% block content %}
  <div class="login-box">
    <div class="login-logo">
      <a href="{{ url_for('main.dashboard') }}l"><b>Dotmole</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
          {% if errors %}
          <div style="background-color: #ed5555;color: white;padding: 3px;margin-bottom: 12px;">
            <a class="close" href="#" style="padding: 5px;">×</a>
            <ul style="list-style-type: none;margin-bottom: 0px;padding-inline-start: 40px;">
              
              <li style="vertical-align: middle;padding: 5px;">{{ errors[-1] }}</li>
              
            </ul>
          </div>
          {% endif %}
        {% endwith %}
        {% with updates = get_flashed_messages(category_filter=["success"]) %}
          {% if updates %}
          <div style="background-color: #8cff5b;color: black;padding: 3px;margin-bottom: 12px;">
            <a class="close" href="#" style="padding: 5px;">×</a>
            <ul style="list-style-type: none;margin-bottom: 0px;padding-inline-start: 40px;">
              
              <li style="vertical-align: middle;padding: 5px;">{{ updates[-1] }}</li>
              
            </ul>
          </div>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('auth.login') }}" method="post">
          {{ form.csrf_token }}
          <div class="input-group mb-3">
            {{ form.email }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.password }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                {{ form.remember_me }}
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              {{ form.submit }}
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        <!-- <div class="social-auth-links text-center mb-3">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a>
        </div> -->
        <!-- /.social-auth-links -->
  
        <!-- <p class="mb-1">
          <a href="forgot-password.html">I forgot my password</a>
        </p> -->
        <p class="mb-0">
          <a href="{{ url_for('auth.register') }}" class="text-center">Register a new membership</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
{% endblock %}
