{% extends 'layouts/main.html' %}
{% block title %}Add Configuration | Dotmole Snitcher{% endblock %}
{% block content %}
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Add Configuration</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add Configuration</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">General</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" id="inputName" class="form-control">
            </div>
            <div class="form-group">
              <label for="inputDescription">Description</label>
              <textarea id="inputDescription" class="form-control" rows="4"></textarea>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Services</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="card-body">
              <div style="float: left; width: 50%;">
                  <ul style="list-style: none;">
                  <li>
                      <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Motion Detection</label>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch2">
                              <label class="custom-control-label" for="customSwitch2">Human Detection&nbsp;&nbsp;&nbsp;&nbsp;</label>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-on-success">
                            <input type="checkbox" class="custom-control-input" id="customSwitch3">
                            <label class="custom-control-label" for="customSwitch3">Activity Recogition</label>
                          </div>
                      </div>
                  </li>
                  </ul>
              </div>
              <div style="float: right; width: 50%;">
                  <ul style="list-style: none;">
                  <li>
                      <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch4">
                              <label class="custom-control-label" for="customSwitch4">Land Recognition</label>
                          </div>
                      </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <div class="custom-control custom-switch custom-switch-on-success">
                        <input type="checkbox" class="custom-control-input" id="customSwitch5">
                        <label class="custom-control-label" for="customSwitch5">Animal Recognition</label>
                      </div>
                    </div>
                  </li>
                  <li>
                      <div class="form-group">
                          <div class="custom-control custom-switch custom-switch-on-success">
                              <input type="checkbox" class="custom-control-input" id="customSwitch6">
                              <label class="custom-control-label" for="customSwitch6">Image Search</label>
                          </div>
                      </div>
                  </li>
                  </ul>
              </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="{{url_for('main.viewconfig')}}" class="btn btn-secondary">Cancel</a>
        <input type="submit" value="Build Configuration" class="btn btn-success" style="margin-left: 10px;">
      </div>
    </div>
  </section>
{% endblock %}